body {
    font-family: 'Quicksand', sans-serif;
}

.mint {
    background-color: #00b894;
}

.whiteText {
    color: white;
}

.soothe {
    background-color: #b2bec3;
}

.light {
    background-color: #dfe6e9;
}